/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset */

/* text */

li{
    font-family: brown; 
    font-size: 12px;
    color: darkgray; 
    line-height: 1.5em;
}

.footer li{
    color: antiquewhite; 
    font-size: 10px;
}

.filter li{
    font-family: brown; 
    font-size: 12px; 
    color: antiquewhite;
}

h1{ 
    font-family: brown; 
    font-size: 32px; 
    line-height: 1.5em;
}

h2{
    font-family: brown;
    font-size: 24px;
    line-height: 1.5em;
}

h3{
    font-family: brown;
    font-size: 16px;
    line-height: 1.5em;
}

h4{
    font-family: brown;
    font-size: 14px;
    line-height: 1.5em;
}

h5{
    font-family: brown;
    font-size: 12px;
    line-height: 1.5em;
}

.coverpage h1, .coverpage h2{
    color: antiquewhite;
}

.footer h4{
    color: antiquewhite; 
}

p{
    font-family: brown; 
    font-size: 16px;
    font-weight: 200;
    color: dimgray;
    line-height: 1.5em;
}

pre{
    font-family: brown; 
    line-height: 1.5em;
}

.footer pre{
    color: antiquewhite;
    font-size: 10px; 
    font-weight: 100;
    text-indent: 1em; 
}

time{
    font-family: brown;
    font-size: 14px;
    font-weight: 100; 
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: antiquewhite;
    line-height: 1.5em;
}

button{
    text-align: center;
    font-family: brown;
    font-size: 16px;
    color: antiquewhite; 
    background-color: #F26522;
    border: none;
    border-radius: 3px; 
    border: none;
    padding: 10px 15px;
    
}

.coloredword{
    font-family: brown;
    font-size: 20px;
    color: #F26522;
    line-height: 1.5em;
}

.disclaimer{
    font-family: brown;
    font-size: 10px;
    line-height: 1.5em;
}

.sub-category{
    font-family: brown;
    font-size: 18px;
    color: dimgray;
    line-height: 1.5em;
}

/* img */

.article-img{
    width: 300px;
    height: 200px;
}

.cover-img{
    width: 700px;
    height: 300px; 
}

.mask{
    opacity: 10%;
    width: 700px;
    height: 100px;
}


.fa{
    color: antiquewhite;
    font-size: 20px;
}

.fa-bars{
    font-size: 24px;
    }